.pylint.d
.vscode
__pycache__
data_preprocessing-main
San Julian WPP Model
dc_020821.xls
dc_020821.xlsx
load.csv
loadincrease.csv
lotes_15-ene-2020.xlsx
lotes_20-mar-2021.xlsx
lotes_8-abr-2021.xlsx
lotes_8-ene-2020.xlsx
module_script2_2.py
pima-indians-diabetes.csv
shoes_dataset.csv
bateria.csv
debug.log
example.xlsx
funcion.csv
Ejemplo.py
LoadFlowReport.py
MyPage.emf
Project.emf
RN_diabetes.py
RN_temperatura.py
Regresion.png
SCRAPER.py
SCRAPER_LOTES_v0.py
SHC_Sweep.py
Script4.py
Virtual_Instrument.py
WriteFile.py
export_csv.py
get-pip.py
index.html
leer_Res.py
reader_csv.py
script2.2.py
script2.py
script3.py
script3a.py
sklearn.py
untitled0.py
